.container{
	height:450px;
	width:50%;
	margin:0 auto;
background-color:yellow;
border-radius:20%;
padding:30px;
font-size:18px;
text-align:center;}
h2{
	text-align:center;
color:green;
}
hr{height:10px;width:50%;background-color:green;
margin-top:-20px;
}
input[type="text"],input[type="tel"],input[type="password"]{
width:300px;
margin-left:-40px;}
input[type="radio"]{
width:50px;
height:20px;}
input[type="checkbox"]{
height:20px;width:30px;}
input[type="submit"]{
height:40px;width:100px;}
input[type="submit"]:hover{
	background-color:green;
	color:red;
font-weight:bold;}
input[type="submit"]:active{
	background-color:white;
	color:red;
font-weight:bold;}
	






